.table{
  border: 5px solid #3f5d7e;
  width: 99%;
  margin: auto;
  font-weight:800px;
  text-align: center;
}
th{
  color: #913564;
  font-size: 1.2rem;
  
}
td{
  color: #0a0a3f;
  font-weight: 600;
  font-size: 1rem;
}

.section {
  margin-bottom: 10px;
  box-shadow: 5px 5px 25px rgb(179, 172, 172);
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  padding: 6px 0;  
  display: flex;
  justify-content: center;
}